<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:py="http://genshi.edgewall.org/"
 	 class="${css_class}">
    <div py:for="i in xrange(repetitions)" py:with="c=children[i]"
         class="repetition_container">
		${display_child(c)}
        <a class="del_repetition_trigger delete">
            <img alt="${remove_text}" title="${remove_text}"
                 src="${icons['cancel'].link}" />
        </a>
		<!--div class="clear" /-->
    </div>
    <a id="${add_link_id}" class="add_repetition_trigger">${add_text}</a>
    <script type="text/javascript" py:content="jscall"></script>
</div>
