{% extends 'layouts/layout_2_equal_columns.html' %}
{% load comments %}


{% block js.custom %}
  <script src="http://belle7.nuu.edu.tw:8080/socket.io/socket.io.js"></script>
  <script>
      var sub = new io.Socket(null, {transports: ['xhr-multipart', 'xhr-polling']});
      sub.connect();
      sub.send('sub abt:olive.db.table.2.string');
      sub.on('message', function(msg){
           var el = document.createElement('p');
           el.innerHTML = '<em>' + msg + '</em>';
           document.getElementById('comments').appendChild(el);
           document.getElementById('comments').scrollTop = 1000000;
           });
  </script>
{% endblock js.custom %}


{% block yahooui %}id="doc4"{% endblock yahooui %}


{% block title %}
    Details for table : {{ tab.name }}}
{% endblock %}

{% block 1 %}
 
   <h1> {{ tab.name }} </h1>
   {% render_comment_list for tab %} 

{% endblock 1 %}

{% block 2 %}
   {% render_comment_form for tab %} 

{% endblock 2 %}


