{% extends 'layouts/layout_2_equal_columns.html' %}
{% load comments %}
{% load olive %}
{% load db %}


{% block js.custom %}
  {% olive_script table %}
  <script>
     // callback function invoked when messages are received from the olive server
      olive.on('message',
          function(msg){
              var el = document.createElement('p');
              el.innerHTML = '<em>' + msg + '</em>';
              document.getElementById('comments').appendChild(el);
              document.getElementById('comments').scrollTop = 1000000;
          }
      );
  </script>
{% endblock js.custom %}

{% block yahooui %}id="doc3"{% endblock yahooui %}

{% block title %} Details for table : {{ table.name }} {% endblock %}

{% block 1 %}
   <h1> {{ table.name }} </h1>
   {% render_comment_list for table %} 
   {% render_comment_form for table %} 
{% endblock 1 %}



