{% load comments i18n %}

{% if user.is_authenticated %}

<form action="{% comment_form_target %}" method="post">

  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Add Comment" %}" />
  </p>

  {% csrf_token %}
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if field.name  == "comment" %}
           {% if field.errors %}{{ field.errors }}{% endif %}
              <p class="commentfield" 
                {% if field.errors %} class="error"{% endif %}
                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                {% comment %} {{ field.label_tag }} {% endcomment %}
                {{ field }}
              </p>
           {% endif %}
        {% endif %}
  {% endfor %}
</form>


{% else %}
   <a href="javascript:alert('send to login page')">Login</a> to comment.
{% endif %}



