<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  

   <py:match path="div[@id='rum-sidebar']" once="true">
	    <div py:attrs="select('@*')">
	        <div py:replace="select('*|text()')"/>
	    </div>
 </py:match>


 <xi:include href="layout.html" />

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"
          py:replace="''"/>
    <title>Welcome to vDBI : login </title>
  </head>
  <body>
	
    <div id="rum-content">
       <h1>Welcome to vDBI </h1>

       <form py:if="'dbilogin' in widgets" py:replace="widgets['dbilogin']()" />

    </div>
    <div id="rum-sidebar" />
  </body>
</html>
