<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--  !Inject main CSS widget -->
<?python
widgets['rum_css'].inject()
widgets['rum_print_css'].inject()
from genshi.input import XML
?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="True">


  <py:match path="div[@id='rum-sidebar']" once="true">
    <div py:attrs="select('@*')">
        <?python from rum.util import generate_label ?>
        
         <py:if test="request.path_info != '/login'" >
         <ul id="rum-resource-list">
          <li py:for="r in resources" py:if="r.__name__.endswith('Dbi')"
              py:with="name=generate_label(app.names_for_resource(r)[1]); url=url_for(r, _memory=False); paired=app.paired_resource(r);">
              <a href="${url}" class="${request.routes['resource'] is r and 'active' or None}">${r.__name__[:-3]}</a>
              <py:if test="paired">
			     <a href="${url_for(paired,_memory=False)}"> ${paired.__name__[-3:]} </a>	
			  </py:if>	
          </li>
         </ul>
         </py:if>

        <div py:replace="select('*|text()')"/>
    </div>
  </py:match>

  <py:match path="body" once="true">
      <body class="rum" py:attrs="select('@*')">
        <!-- !Override header.html in your template search path to change it -->
        <xi:include href="header.html" />
        <py:if test="config.get('render_flash', True) and request.path_info != '/login'">
            ${XML(flash.render('rum-flash'))}
        </py:if>
        <div id="rum-page" class="leftmenu">
          <!-- !Body content of template that xincludes us will go inside
               rum-wrap
          -->
          <div id="rum-wrap" py:content="select('*|text()')" />
        </div>
        <!-- !Override footer.html in your template search path to change it -->
        <xi:include href="footer.html" />
      </body>
  </py:match>
  <xi:include href="${master_template}"><xi:fallback /></xi:include>
</html>




