dl.resource-meta dd { margin-left: 1.5em }
dl.resource-meta dt, dl.resource-meta dt { padding: .2em }
dl.resource-meta dt { font-weight: bold }
dl.resource-fields, dl.resource-meta {
    border: solid #999 thin;
    padding: .3em;
}
span.resource-field-type {
    font-style: italic;
    font-weight: normal;
    color: #666;
}
dt.resource-field { background: #ccc }
dd.resource-field { margin-bottom: .5em }
