/* 
 * Layout based on
 * http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm
 * by Matthew James Taylor
 */


/* General styles */
body {
    margin: 0;
    padding: 0;
    /* This removes the border around the viewport in old versions of IE */
    border: 0;
    width: 100%;
    /*
     * Minimum width of layout - remove line if not required
     * The min-width property does not work in old versions of Internet
     * Explorer
     */
    min-width: 700px;
    font: medium/125% "Myriad Web", "Myriad Pro", "Lucida Grande", "Trebuchet MS", "Tahoma", "Helvetica", "Arial",  sans-serif;

}
#rum-page a {
    color: #369;
}
#rum-page a:hover {
    text-decoration: underline;
    cursor: pointer;
}
#rum-page h1,
#rum-page h2,
#rum-page h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}
#rum-page p {
    margin: .4em 0 .8em 0;
    padding: 0;
}
#rum-page img,
#rum-header img {
    border: 0;
}


/* Header styles */
#rum-header {
    clear: both;
    float: left;
    width: 100%;
}
#rum-header {
    border-bottom: 1px solid #000;
}
#rum-header p,
#rum-header h1,
#rum-header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}
#rum-header ul {
    clear: left;
    float: left;
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}
#rum-header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
#rum-header ul li a {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    text-align: center;
    background: #eee;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 15px;
    line-height: 1.3em;
}
h1 {
    line-height:110%;
}
#rum-header ul li a:hover {
    background: #369;
    color: #fff;
}
#rum-header ul li a.active,
#rum-header ul li a.active:hover {
    color: #fff;
    background: #000;
    font-weight: bold;
}
#rum-header ul li a span {
    display:block;
}

#rum-title {
    height: 1em;
    float: left;
}

#rum-title a {
    color: #000;
    text-decoration: none;
}
#rum-title a:hover {
    color: #666;
    background: none;
    text-decoration: none;
}

#rum-loggedin {
    color: #999;
    font-size: .8em;
    display:inline;
    text-align: right;
    float:right;
}

#rum-tagline {
    color: #999;
    font-size: .8em;
    font-style: italic;
    margin: 1.1em 0;
}
/* column container */

#rum-page {
    /* This fixes the IE7 overflow hidden bug */
    position: relative;
    clear: both;
    float: left;
    /* width of whole page */
    width: 100%;
    /* This chops off any overhanging divs */
    overflow: hidden;
}
/* common column settings */
#rum-wrap {
    float: left;
    width: 100%;
    position: relative;
}
#rum-content,
#rum-sidebar {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}
#rum-content {
    overflow: auto;
}
/* 2 Column (left menu) settings */
.leftmenu {
    /* right column background colour */
    background: #fff;
}
.leftmenu #rum-wrap {
    /* right column width */
    right: 85%;
    /* left column background colour */
    background: #f4f4f4;
}
.leftmenu #rum-content {
    /* right column content width */
    width: 81%;
    /* 100% plus left column left padding */
    left: 102%;
}
.leftmenu #rum-sidebar {
    /* left column content width (column width minus left and right padding) */
    width: 11%;
    /* (right column left and right padding) plus (left column left padding) */
    left: 6%;
}

#rum-flash .ok{
    background-color: #0F0;
    color: black;
}
#rum-flash .warning {
    background-color: #FF0;
    color: black;
}
#rum-flash .alert {
    background-color: #F00;
    color: white;
}
#rum-flash {
    clear:both;
}

.rum-related-title {
    color: #999;
    font-size: 1em;
    font-style: italic;
}

/* Footer */
#rum-footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
}

#rum-footer p {
    padding: .1em .5em;
    margin: 0;
}

/* Credits  */
#rum-credits {
    color: #999;
    font-size: .8em;
    text-align: right;
}

/* Resources list */
#rum-resource-list {
    list-style: none;
    padding: .2em 0;
    margin: 0;
}

#rum-resource-list a {
    text-decoration: none;
    /*font-size: 110%;*/
}
#rum-resource-list a.active {
    font-weight: bold;
    text-decoration: underline;
}

#rum-resource-list li:first-child {
    padding: .4em 0px;
    border-top: none;
}
#rum-resource-list li {
    padding: .4em 0px;
    border-top: 1px dashed black;
}

.rum-paginator {
    width: 100%;
    text-align: right;
}

.rum-paginator a {
    text-decoration: none;
}

.rum-paginator-legend {
    float: left;
}

.rum-paginator-current {
    font-weight: bold;
}

.rum-querybuilder-expression {
    display: inline-block;
/*    background-color: red; */
}


.rum-querybuilder-expression div {
    display:inline ;
/*    background-color: green; */
}



div.baseshowwidget dt {
    border-top: 1px dashed #999;
    padding-top: 10px;
    
    
}
div.baseshowwidget dt:first-child {
    border-top: none;
    
}
div.baseshowwidget dd {
    margin-bottom: 10px;
}
